<main>
  <div class="container" *ngIf="isLoadingForm">
    <h1>Profile</h1>
    <div class="profile-header">
      <button mat-fab class="add-button" routerLink="./add-account" matTooltip="Create an account">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>

    <mat-grid-list [cols]="isMobile ? 1 : 2" gutterSize="50px" rowHeight="50vh">
      <mat-grid-tile>
          <mat-card class="profile-info">
            <mat-card-header class="account-card-header">
              <p class="username">{{ user.username }}</p>
            </mat-card-header>
            <mat-card-content>
              <p>Email: {{ user.email }}</p>
              <p>Phone: {{ user.phoneNumber }}</p>
            </mat-card-content>
          </mat-card>       
      </mat-grid-tile>
      
      <mat-grid-tile>
        <div class="accounts-container">
          <h2>User accounts</h2>
          <div id="account-cards-container" *ngIf="isLoadingAccountForm">
            <ng-container *ngIf="accounts.length > 0 else noAccountsMessage">
              <div class="card-container">
              <mat-card *ngFor="let account of accounts" class="account-card" 
                [ngClass]="{'negative-balance': account.balance < 0, 'full-width': accounts.length === 1}">
                <mat-card-header class="account-card-header">
                  <h3>
                    <a routerLink="/profile/{{ user.id }}/account/{{ account.id }}">
                      {{ account.name }}
                    </a>
                  </h3>
                </mat-card-header>
                <mat-card-content class="account-card-body">
                  <p>ID: {{ account.id }}</p>
                  <p>Balance: {{ account.balance }}  {{ account.currency.sign }}</p>
                  <p>Currency: {{ account.currency.name }} ({{ account.currency.abbreviation }})</p>
                  <p>Account Type: {{ account.accountType.name }}</p>
                </mat-card-content>
              </mat-card>
            </div>
              <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="recordCount"
               [pageSize]="paginationSettings.pageSize"
               [pageIndex]="paginationSettings.pageNumber - 1">
          </mat-paginator>
            </ng-container>
            <ng-template #noAccountsMessage>
              <div class="message">
                This user has not created accounts yet
              </div>
            </ng-template>
          </div>
          <app-loading-indicator *ngIf="!isLoadingAccountForm"></app-loading-indicator>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <app-loading-indicator *ngIf="!isLoadingForm"></app-loading-indicator>
</main>