main {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.account-info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
h1 {
  font-size: 28pt;
  padding-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 20pt;
}
  
.operation-card {
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 5px;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
  
.description-table {
  width: 100%;
  border-collapse: collapse;
}
  
.description-table td {
  padding: 8px;
  border-bottom: 1px solid black;
}
  
.description-table .key-field {
  width: 40%;
}
  
.description-table .value-field {
  width: 60%;
}
  
.message {
  font-size: 12pt;
  font-style: italic;
  color: #253343;
}

.account-card-footer {
  display: flex;
  justify-content:last baseline;
  margin-top: 10px; 
}
  
.account-card-footer button {
  margin: 0 15px; 
}

mat-grid-list {
  display: flex;
  flex-wrap: wrap;
}

mat-grid-tile {
  width: 60%;
  height: 100%;
  height: auto;
}

mat-card {
  width: 100%;
  background-color: transparent;
}

.account-card {
  width: 60%;
}

button {
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}
  
.close-button {
  background-color: #B6000F;
}
  
.edit-button {
  background-color: #FFB700;
}

.add-button {
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #498B6D; 
}

.pdf-button {
  background-color: #2A2929;
}

.goals-button {
  background-color: #253343;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  button {
    padding: 4px 6px;
  }

  mat-grid-tile {
    width: 100%;
  }

  .profile-info {
    margin-top: 10px;
  }

  .username {
    font-size: 24px;
  }

  .account-card-header h3, a {
    font-size: 18px;
  }

  .account-card-body p {
    font-size: 12px;
  }
}