header {
    height: 140px;
    background-color: #498B6D;
}
  
.actions {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 35px; 
    padding-right: 20px; 
}
  
.login, 
.notifications {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.login:hover,
.notifications:hover {
    background-color: #444342;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2A2929;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #D8D6D0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content span {
    color: #D8D6D0;
    padding: 12px 16px;
    font-size: 20px;
}