<header>  
    <div class="actions">       
        <div class="dropdown">
            <button class="login"><img src="assets/images/icon-user.png"></button>
            <div class="dropdown-content">
              <a [routerLink]="isClient() ? '/profile/{{userId}}' : '/admin'" *ngIf="isAuthenticated">{{getUserName()}}</a>
              <a (click)="this.isAuthenticated ? this.logout() : this.login()">
                {{ this.isAuthenticated ? 'Logout' : 'Login' }}
              </a>
            </div>
        </div>
        <a routerLink="profile/{{ this.userId }}/notifications">
          <button class="notifications" [disabled]="!isAuthenticated || !isClient()">
            <img src="assets/images/icon-notification.png">
          </button>
        </a>
    </div>
</header>