.container {
  padding-top: 45px;
  padding-bottom: 20px;
}

.operation-form {
  width: 300px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  position: relative; 
}
    
.operation-form h2 {
  text-align: center;
}
    
.operation-form .form-group {
  margin-bottom: 15px;
}
    
.operation-form label {
  display: block;
  font-weight: bold;
}
    
.operation-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #498B6D;
  color: #fff;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input{
  width: 100%;
}

button {
  border-radius: 4px;
  border-color: transparent;
}

.add-field {
  background-color: #AEC289;
  margin-bottom: 10px;
}

.delete-field {
  margin-top: 15px;
  background-color: #F4DBDB;
  height: 35px;
}