main {
  font-family:'Courier New', Courier, monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} 

h1 {
  padding-top: 25px;
  text-align: center;
}

}

  margin-bottom: 10px;
  margin-left: 5px;
}
  
.account-card-header h3, a {
  margin: 0;
  text-decoration: none;
  color: #253343;
}
  
.account-card-body p {
  margin: 5px 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.pagination button, span {
  margin: 0 5px; 
  margin-bottom: 15px;
}

button {
  color: white;
  background-color: #2A2929;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

button:disabled {
  color: #444342;
  background-color: transparent;
  cursor: not-allowed;
}
