app-header, router-outlet {
  margin: 0;
  padding: 0;
  height: 15vh;
}

body {
  margin: 0;
}

.layuot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  width: 100%;
  border: none;
  border-top: 5px solid #2A2929;
  margin: 0;
  padding: 0;
}

.router-outlet-wrapper {
  flex: 1; 
  background-color: #F3F2EE; 
  min-height: 85vh;
}