<main>
    <h1>User Regular Payments</h1>
    
    <button mat-fab class="add-button" routerLink="../create-regular-payment" matTooltip="Create a regular payment">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
    <div class="container">
        <mat-card *ngFor="let operation of operations" class="card">
            <mat-card-header>
                <h3>{{ operation.name }}</h3>
            </mat-card-header>
            <mat-card-content>
                <p class="additonal">{{ operation.startDate | date: 'dd.MM.yyyy' }} - {{ operation.endDate | date: 'dd.MM.yyyy' }}</p>
                <p class="additonal">{{ operation.executionTime }}</p>
                <p class="type-label">{{ operation.interval }}</p>
                <p>Amount: {{ operation.amount }}</p>
            </mat-card-content>
            <mat-card-footer>
                <button mat-fab class="close-button" matTooltip="Delete this regular payment" 
                    (click)="openCloseRegOperationModal(operation.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab class="edit-button" matTooltip="Modify this regular payment" 
                    routerLink="../update-regular-payment/{{operation.id}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-footer>
        </mat-card>
    </div>
  
    <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="recordCount"
        [pageSize]="paginationSettings.pageSize"
        [pageIndex]="paginationSettings.pageNumber - 1">
    </mat-paginator>
</main>