<main *ngIf="isLoadingForm">
  <div class="container">
    <mat-button-toggle-group name="Auth" aria-label="User Auth"  [(ngModel)]="selectedOption">
      <mat-button-toggle value="login">Login</mat-button-toggle>
      <mat-button-toggle value="register">Register</mat-button-toggle>
    </mat-button-toggle-group>
    <app-user-login *ngIf="selectedOption === 'login'"></app-user-login>
    <app-register *ngIf="selectedOption === 'register'"></app-register>
  </div>
</main>
<app-loading-indicator *ngIf="!isLoadingForm"></app-loading-indicator>