main {
  background-color: #D8D6D0;
  font-family: "Nunito Sans", sans-serif;
  margin-top: -22px;
  padding: 0;
}
  
h1 {
  padding-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-details {
  display: flex;
  justify-content: space-between;

}

.account-details h2 {
  font-size: 24px;
}
  
.account-details p {
  margin: 10px 0;
}
  
.account-details h3 {
  margin-top: 20px;
}

.account-summary {
  width: 50%;
  float: left;
  margin-right: 20px;
}

.operations-list {
  width: 50%;
  overflow: hidden;
}
  
.account-info {
  margin: 20px;
}
  
.operation-card {
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 5px;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}
  
.description-table {
  width: 100%;
  border-collapse: collapse;
}
  
.description-table td {
  padding: 8px;
  border-bottom: 1px solid black;
}
  
.description-table .key-field {
  width: 40%;
}
  
.description-table .value-field {
  width: 60%;
}
  
.message {
  font-style: italic;
  color: #253343;
}

.account-card-footer {
  display: flex;
  justify-content:last baseline;
  margin-top: 10px; 
}
  
.account-card-footer button {
  margin: 0 5px; 
}

button {
  color: white;
  background-color: #2A2929;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

button:disabled {
  color: #444342;
  background-color: transparent;
  cursor: not-allowed;
}
  
.close-button {
  background-color: #B6000F;
}
  
.edit-button {
  background-color: #FFB700;
}

.add-button {
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #498B6D; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.pagination button {
  margin: 0 5px; 
}