main {
  background-color: #D8D6D0;
  flex-grow: 1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
  
h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.account-info {
  margin: 20px;
}
  
.account-summary {
  float: left;
  margin-right: 20px;
}
  
.operations-list {
  overflow: hidden;
}
  
.account-details h2 {
  font-size: 24px;
}
  
.account-details p {
  margin: 10px 0;
}
  
.account-details h3 {
  margin-top: 20px;
}
  
.operation-card {
  margin-bottom: 5px;
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 5px;
  width: 60%;
}
  
.description-table {
  width: 20%;
  border-collapse: collapse;
}
  
.description-table td {
  padding: 8px;
  border-bottom: 1px solid black;
}
  
.description-table .key-field {
  width: 60%;
}
  
.description-table .value-field {
width: 40%;
}
  
.message {
  font-style: italic;
  color: #253343;
}

.account-card-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}
  
.account-card-footer button {
  margin: 0 5px; 
}

button {
  color: white;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}
  
.close-button {
  background-color: #33576E;
}
  
.edit-button {
  background-color: #FFB700;
}

.add-button {
  margin-left: 10px;
  background-color: #498B6D; 
}