html {
  background-color: #D8D6D0; 
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}