.notification-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #2A2929;
  z-index: 10;
  padding: 16px;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.clear-button {
  margin-left: auto;
  color: #2A2929;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: white;
  margin: 16px 0;
}

.notification-list {
  /* Добавьте дополнительные стили по вашему усмотрению */
}

.notification {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.unread {
  background-color: #ccc; 
  color: #2A2929;
}

.notification-content {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.no-notifications {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 5;
}