main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24pt;
  text-align: center;
}

h3 {
  font-size: 18pt;
}

.type-label {
  color: blue;
}

.additonal {
  color: #888;
  font-size: 10pt;
  margin-bottom: 10px;
  margin-top: -15px;
}

p {
  margin-top: -5px;
  font-size: 12pt;
}

button {
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

mat-card {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 25px;
}

.res-show-module {
  font-size: 12pt;
  font-weight: 600;
}

mat-card-footer {
  margin-top: 20px;
  text-align: center;
}
    
.close-button {
  background-color: #B6000F;
}
    
.edit-button {
  background-color: #FFB700;
  margin-right: 30px;
}
  
.add-button {
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #498B6D; 
}

.message {
  font-size: 12pt;
  font-style: italic;
  color: #253343;
  text-align: center;
  margin-top: 130px;
}