h2 {
  text-align: center;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  mat-spinner::ng-deep circle {
    stroke: #444342;
  }

button {
  margin-right: 8px;
}