<mat-tab-group>
  <mat-tab *ngFor="let article of articles" [label]="article.title">
    <div class="article-card">
      <div class="article-content">
        <h3 class="article-title">{{ article.title }}</h3>
        <p class="article-meta">{{ article.publicationDate }}</p>
        <p class="article-description">{{ article.description }}</p>
        <ul type="square">
          <li *ngFor="let point of article.content">{{ point }}</li>
        </ul>
        <a class="read-more-link" [href]="article.link" target="_blank">Read More</a>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>