main {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
h1 {
  margin: 0;
}

.profile-header {
  padding-top: 20px;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
}

.profile-info {
  margin-top: 20px;
  background-color: transparent;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.account-card {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.negative-balance {
  background-color: #f4dbdb;
}

.account-card-header {
  border-bottom: 3px solid #ccc;
}

.account-card-header h3, a {
  text-decoration: none;
  font-size: 24px;
  color: #253343;
}

.account-card-body p {
  margin: 5px 0;
}
  
footer {
  background-color: #f5f5f5;
  padding: 20px;
}

.message {
  font-style: italic;
  color: #253343;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px; 
}

button {
  color: white;
  background-color: #2A2929;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

button:disabled {
  color: #444342;
  background-color: transparent;
  cursor: not-allowed;
}