main {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
h1 {
  margin: 0;
}

.profile-header {
  padding-top: 20px;
}

button {
  color: white;
  background-color: #2A2929;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid white; 
  cursor: pointer;
}

button:disabled {
  color: #444342;
  background-color: transparent;
  cursor: not-allowed;
}

.add-account-button {
  background-color: #498B6D;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #2A2929; 
  cursor: pointer;
}
  
.profile-container {
  display: flex;
  align-items: flex-start;
}
  
.profile-info {
  margin-right: 20px;
}

.spacer {
  flex-grow: 1;
}
  
.accounts-container {
  flex-basis: 50%;
}
  
.username {
  font-size: 24px;
  font-weight: bold;
}
  
hr {
  border: none;
  height: 1px;
  background-color: #498B6D;
  margin: 5px 0;
}
  
.account-card {
  font-family:'Courier New', Courier, monospace;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.negative-balance {
  background-color: #F4DBDB;
}
  
.account-card-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
  
.account-card-header h3, a {
  margin: 0;
  text-decoration: none;
  color: #253343;
}
  
.account-card-body p {
  margin: 5px 0;
}
  
footer {
  background-color: #f5f5f5;
  padding: 20px;
}

.message {
  font-style: italic;
  color: #253343;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  margin: 0 5px; 
}