.not-found {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: #253343;
    min-height: 100vh;
}
  
.not-found h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
  
.not-found p {
    font-size: 24px;
}