.operation-form {
  width: 300px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  position: relative; 
}
    
.operation-form h2 {
  text-align: center;
}
    
.operation-form .form-group {
  margin-bottom: 15px;
}
    
.operation-form label {
  display: block;
  font-weight: bold;
}
    
.operation-form #amount,
.operation-form select{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
    
.operation-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #498B6D;
  color: #fff;
  cursor: pointer;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input{
  width: 125px;
}

.add-field {
  background-color: #AEC289;
  border-radius: 4px;
  border-color: transparent;
}

.delete-field {
  background-color: #F4DBDB;
  border-radius: 4px;
  border-color: transparent;
}