<form (submit)="addOperation()">
    <div>
      <label for="accountId">Account ID:</label>
      <input type="number" id="accountId" [(ngModel)]="accountId" required>
    </div>
    <div>
      <label for="account">Account:</label>
      <input type="text" id="account" [(ngModel)]="account" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="description" required>
    </div>
    <button type="submit">Add Operation</button>
  </form>