<div class="container">
    <h1>Personal finance management application</h1>
    <p class="description">A convenient and reliable application for tracking income and expenses</p>
</div>
<div class="image-container">
    <img src="assets/images/template1.png" alt="Пример интерфейса" class="screenshot">
    <img src="assets/images/template2.png" alt="Пример интерфейса" class="screenshot">
</div>
<div class="additional-information">
    <div class="container">
        <div class="additional-resources">
            <a href="assets/pages/function-description.html" target="_blank">Description of functions</a>
            <a href="assets/pages/asked-questions.html" target="_blank">Frequently Asked Questions</a>
            <a href="assets/pages/contacts-page.html" target="_blank">Contact us</a>
            <a href="assets/pages/financial-planning.html" target="_blank">Blog about financial planning</a>
        </div>
        <div class="footer">
            &copy; 2024 Personal finance management. All rights reserved. | 
            <a href="assets/pages/privacy-policy.html" target="_blank">Privacy policy</a>
        </div>
    </div>
</div>