<div class="container">
    <h1>Personal finance management application</h1>
    <p class="description">A convenient and reliable application for tracking income and expenses</p>
</div>
<div class="image-container">
    <img src="assets/images/template1.png" alt="Пример интерфейса" class="screenshot">
    <img src="assets/images/template2.png" alt="Пример интерфейса" class="screenshot">
</div>
<div class="additional-information">
    <div class="container">
        <div class="additional-resources">
            <a href="#">Description of functions</a>
            <a href="#">Frequently Asked Questions</a>
            <a href="#">Contact us</a>
            <a href="#">Blog about financial planning</a>
        </div>
        <div class="footer">
            &copy; 2024 Personal finance management. All rights reserved. | 
            <a href="#">Privacy policy</a>
        </div>
    </div>
</div>