.rec-oper-form {
  width: 350px;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f4f4f4;
  position: relative; 
  top: 50%;
  transform: translateY(3%); 
  position: relative; 
}
  
h2 {
  font-size: 18pt;
  text-align: center;
}
  
mat-form-field {
  width: 100%;
}

.date {
  width: 48%; 
}

#start-date {
  margin-right: 12px;
}

.rec-oper-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}