header {
  height: 15vh;
  min-height: 100px;
  background: linear-gradient(to right, #498B6D, #193C35);
}
  
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.left-group,
.right-group {
  display: flex;
  align-items: center;
}

.left-group a {
  vertical-align: middle;
}

.right-group {
  margin-left: auto;
  gap: 20px;
}

.elem-header {
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}